<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>책 제목 | 북적서울</title>
        <link
            rel="stylesheet"
            href="../../static/css/main/global-settings.css"
        />
        <link rel="stylesheet" href="../../static/css/book/book-detail.css" />
        <link
            rel="shortcut icon"
            href="../../static/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../static/css/main/header.css" />
    </head>
    <body>
        <div id="wrap" class="show-top-header">
            <!-- 상단 이벤트 배너 -->
            <div class="book-detail-banner">
                <div class="home-banner">
                    <a href="">
                        <p>지금 <strong>이달의 독후감</strong> 투표중! 🗳️</p>
                    </a>
                </div>
            </div>
            <!-- // 상단 이벤트 배너 -->
            <!-- 헤더 자리-->
            <div class="top-header background on">
                <div class="inner">
                    <header>
                        <h1>
                            <a href="" class="logo">
                                <img
                                    src="../../static/images/common/Logo.png"
                                    alt="북적서울"
                                    class="bookjeog-logo"
                                    style="scale: 1.5"
                                />
                            </a>
                        </h1>
                        <nav>
                            <ul class="gnb">
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-report"
                                        class="book-report"
                                        >독후감</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="donation"
                                        class="donation"
                                        >기부</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="search"
                                        class="search"
                                        >검색</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="book-shelf"
                                        class="book-shelf"
                                        >내서재</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="manage"
                                        class="manage"
                                        >관리</a
                                    >
                                </li>
                                <li class="">
                                    <a
                                        href=""
                                        data-content-type="discussion"
                                        class="discussion"
                                        >북적북적</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="util-wrap">
                            <!-- data-count가 알람 개수 -->
                            <a
                                href=""
                                class="alarm-button"
                                data-content-type="alarmCenter"
                                data-count="10"
                            >
                                <span class="mds-icon-alarm">
                                    <span class="ir">알림센터</span>
                                </span>
                            </a>
                            <ul class="util">
                                <li class="sign sign-in">
                                    <a href="" data-content-type="login"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- // 헤더 자리 -->
            <section class="content">
                <div class="book-detail-container">
                    <!-- 책 정보 영역 -->
                    <div class="book-detail-info">
                        <div class="book-cover-frame">
                            <!-- 책 이미지 영역 -->
                            <div class="book-cover-box">
                                <div class="book-cover-inner-box">
                                    <div class="book-cover-container">
                                        <!-- 책 썸네일 -->
                                        <div class="thumbnail">
                                            <div class="inner">
                                                <div class="book-picture">
                                                    <picture>
                                                        <img
                                                            src="../../static/images/book/book_thumbnail.example.png"
                                                            alt="도서 썸네일"
                                                            width="200"
                                                            style="
                                                                min-height: 0;
                                                            "
                                                        />
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // 책 썸네일 -->
                                    </div>
                                </div>
                                <!-- 책 썸네일 배경화면 -->
                                <div class="background">
                                    <div class="background-cover">
                                        <picture>
                                            <img
                                                src="../../static/images/book/book_thumbnail.example.png"
                                                alt="책 배경 썸네일"
                                                width="200"
                                                style="min-height: 0"
                                            />
                                        </picture>
                                    </div>
                                    <div class="dim"></div>
                                </div>
                                <!-- // 책 썸네일 배경화면 -->
                            </div>
                            <!-- // 책 이미지 영역 -->
                            <div class="book-cover-info">
                                <div class="book-cover-info-box">
                                    <div class="book-cover-info-box-body">
                                        <div>
                                            <p class="book-cover-info-title">
                                                용의자 X의 헌신
                                            </p>
                                        </div>
                                        <div>
                                            <p class="book-cover-info-athor">
                                                히가시노 게이고
                                            </p>
                                            <p class="book-cover-info-text">
                                                <span>재인</span>
                                                <span class="middot"></span>
                                                2022.06.16
                                            </p>
                                        </div>
                                    </div>
                                    <div class="book-cover-info-box-footer">
                                        <div class="book-cover-footer-count">
                                            이 책이 담긴 서재
                                            <b>538+</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="book-cover-info-btns">
                                    <button
                                        type="button"
                                        class="button-report mds-button"
                                    >
                                        <span
                                            ><i class="mds-icon-write"></i>
                                            <span>&nbsp;&nbsp;독후감 작성</span>
                                        </span>
                                    </button>
                                    <button
                                        type="button"
                                        class="button-discussion mds-button"
                                    >
                                        <span>
                                            <i class="mds-icon-discussion"></i>
                                            토론방&nbsp;
                                            <span class="hidden-text"
                                                >이동</span
                                            >
                                        </span>
                                    </button>
                                    <button
                                        type="button"
                                        class="button-scrap mds-button"
                                    >
                                        <span
                                            ><i class="mds-icon-scrap"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // 책 정보 영역 -->
                    <div class="book-detail-content-cont">
                        <div class="book-detail-content-frm">
                            <div id="anchorRecommend" class="book-tab-frm">
                                <div class="mds-tab mds-tab-line">
                                    <ul
                                        role="menu"
                                        class="mds-tab-wrapper"
                                    ></ul>
                                    <span class="mds-tab-bar transition"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
