<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>어드민 | 로그인</title>
        <link rel="stylesheet" href="/static/css/login/admin.css" />
    </head>
    <body>
        <div class="header">
            <header>
                <h1>
                    <a href=""
                        ><img src="/static/images/common/Logo.png" alt=""
                    /></a>
                </h1>
                <span>관리자 로그인</span>
            </header>
        </div>
        <div class="admin-login">
            <div class="login-wrap"></div>
        </div>
    </body>
</html>
