<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>서비스 소개 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="../static/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../static/css/main/global-settings.css" />
        <link rel="stylesheet" href="../static/css/main/index.css" />
    </head>
    <body>
        <div id="wrap" class="web-mount pcv-mount">
            <section class="content">
                <div class="font-pretendard service-frame brand-frm">
                    <!-- 헤더 영역 -->
                    <header class="header-section">
                        <div class="header-wrap">
                            <h1 class="logo">
                                <img
                                    src="../static/images/common/Logo.png"
                                    alt="북적서울 로고"
                                    style="scale: 2.2"
                                />
                            </h1>
                            <div class="nav-box">
                                <button class="brand-login">로그인</button>
                            </div>
                        </div>
                    </header>
                    <!-- // 헤더 영역 -->
                    <!-- 최상단 이미지 -->
                    <section id="visual" class="keyvisual-frm">
                        <div class="keyvisual-box">
                            <div class="keyvisual-blk">
                                <p class="txt-blk fade-in-item">
                                    독서로
                                    <br />
                                    따뜻한 나눔을,
                                    <br />
                                    북적서울
                                </p>
                            </div>
                            <div class="img-container">
                                <img
                                    src="../static/images/main/index-main.png"
                                />
                            </div>
                        </div>
                    </section>
                    <!-- // 최상단 이미지 -->
                    <!-- 상단 이미지 -->
                    <section id="tvc" class="tvc-frm section-frm">
                        <div class="section-inner">
                            <div class="tvc-header">
                                <h3>
                                    나부터 이웃까지,
                                    <br />
                                    독서의 감상을 나누다
                                </h3>
                                <p>북적이는 마음 속 이야기를 세상과 나누세요</p>
                            </div>
                            <div class="tvc-content">
                                <div class="video-player-frm">
                                    <div class="video-controls-overlay"></div>
                                    <img
                                        src="../static/images/main/index2.jpg"
                                    />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- // 상단 이미지 -->
                    <!-- ai 주제 소개 -->
                    <section id="tts" class="tts-section section-frm">
                        <div class="section-inner">
                            <div class="section-header fade-in-item observed">
                                <h3 class="fade-up fade-delay-0">
                                    <img
                                        src="../static/images/main/chatgpt-icon.png"
                                        class="ico-blk"
                                    />
                                    <b>
                                        어떤 책이든
                                        <br />
                                        GPT가 주는 주제로
                                        <br />
                                        함께 깊게 토론하기
                                    </b>
                                    생각을 나누며 더 넓어지는
                                    <br />
                                    북적서울의 독서 토론방
                                </h3>
                            </div>
                            <div
                                class="tts-content section-content fade-up fade-delay-1"
                            >
                                <div
                                    class="image-container fade-in-item observed"
                                >
                                    <img
                                        src="../static/images/main/gpt-discussion.png"
                                        class="img-bg"
                                    />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- // ai 주제 소개 -->
                    <!-- 도서 나눔 소개 -->
                    <section id="share" class="tts-section section-frm">
                        <div class="section-inner">
                            <div
                                class="tts-content section-content fade-up fade-delay-1"
                            >
                                <div
                                    class="image-container fade-in-item observed"
                                >
                                    <img
                                        src="../static/images/main/index3.jpg"
                                        class="img-bg"
                                    />
                                </div>
                            </div>
                            <div class="section-header fade-in-item observed">
                                <h3 class="fade-up fade-delay-0">
                                    <img
                                        src="../static/images/main/book-pile.png"
                                        class="ico-blk"
                                    />
                                    <b>
                                        나의 도서를
                                        <br />
                                        근처 이웃들에게
                                        <br />
                                        직접 전달해주기
                                    </b>
                                    내가 기부한 도서가
                                    <br />
                                    독서가 어려운 이웃에게 가요
                                </h3>
                            </div>
                        </div>
                    </section>
                    <!-- // 도서 나눔 소개 -->
                </div>
            </section>
        </div>
    </body>
    <script src="../static/js/main/index.js"></script>
</html>
