<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>서비스 소개 | 북적서울</title>
        <link
            rel="shortcut icon"
            href="../static/images/common/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../static/css/main/global-settings.css" />
        <link rel="stylesheet" href="../static/css/main/index.css" />
    </head>
    <body>
        <div class="wrap">
            <section class="content">
                <div class="font-pretendard service-frame">
                    <!-- 헤더 영역 -->
                    <header class="header-section">
                        <div class="header-wrap">
                            <h1 class="logo">
                                <img
                                    src="../static/images/common/Logo.png"
                                    alt="북적서울 로고"
                                    style="scale: 2.2"
                                />
                            </h1>
                        </div>
                    </header>
                    <!-- // 헤더 영역 -->
                </div>
            </section>
        </div>
    </body>
</html>
